body {
  padding: 0;
  margin: 0;
  font-family: 'PT Mono', serif;
  color: #ffffff;
}

h1,h2,h3,h4 {
  font-family: Roboto, -apple-system, BlinkMacSystemFont, 'Helvetica Neue', Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: normal
}

canvas {
  display: block;
  background-color: #000000;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
}

.title {
  display: block;
  position: absolute;
  top: 15px;
  left: 50%;
  transform: translate(-50%, 0);
  z-index: 1;
  text-align: center;
  line-height: 1.6;

  .logo {
    margin: 0;
  }
}

.current-score {
  left: 20px;
}
.top-score {
  right: 20px;
}
.score {
  display: block;
  position: absolute;
  top: 15px;
  z-index: 1;
  font-size: 20px;
}
.controls {
  display: block;
  position: absolute;
  bottom: 15px;
  left: 50%;
  transform: translate(-50%, 0);
  z-index: 1;
  font-size: 11px;
  text-align: center;
  line-height: 1.6;
}
.message{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 16px;
  z-index: 1;
  text-align: center;
}
button{
  border: 4px solid #ffffff;
  background-color: transparent;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px;
  margin: 10px;
  font-family: 'PT Mono', serif;
  cursor: pointer;
}
button:hover{
  background-color: #ffffff;
  color: #000000;
}

.logo {
  font-size: 1.75rem;
  font-style: italic;
  font-weight: 600;
  text-transform: lowercase;
}

.logo::before {
  background-color: #F5835F;
  background-image: url('./logo.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: 2rem;
  border-radius: 50%;
  content: '';
  display: inline-block;
  height: 2.75rem;
  margin-right: 0.75rem;
  vertical-align: middle;
  width: 2.75rem;
}
